<%- include("partials/header") -%>
    <!-- content -->
    <div class="content">
        <div class="container-fluid city-div sec">
          <h4>Explore Cities</h4>
          <div class="city">
            <form class="row justify-content-md-center city-form" action="/" method="post">
            <% for(let c of cityList) { %>
              <% if(c.zipcode == selectedCity) { %>
                <button class="col-lg-2 col-md-4 col-sm-6 card sel-city" type="submit" name="city_zip" value=<%= c.zipcode%>> <%= c.city %> </button>
              <% } else { %>
                <button class="col-lg-2 col-md-4 col-sm-6 card" type="submit" name="city_zip" value=<%= c.zipcode%>> <%= c.city %> </button>
              <% } %>
            <% } %>
            </form>
          </div>
        </div>

        <div class="container-fluid vendor-div sec">
          <h4>Featured Vendors</h4>
          <div class="row justify-content-between">
            <% let k=1 %>
            <% for(let v of vendorList) { %>
              <a href="/vendors/<%= v.ID %>" class="col-lg-2 col-md-4 col-sm-6 card">
                  <img class="card-img-top" src="/images/v_<%= k++ %>.jpg" alt="Card image cap">
                  <div class="card-body d-flex flex-column">
                    <h5 class="card-title"><%= v.name %></h5>
                    <div class="text-truncate">
                      <p class="card-text types" style="display: inline"><%= v.add_streetname %></p>
                    </div>
                    <button class="mt-auto btn btn-dark btn-block visit" type="button" name="button">Visit</button>
                  </div>
              </a>
            <% } %>
          </div>
        </div>

        <div class="container-fluid dish-div sec mb-4">
          <h4>Featured Dishes</h4>
          <div class="row justify-content-around">
            <% let j=1 %>
            <% for(let d of dishList) { %>
              <div class="col-lg-3 col-sm-6 card">
                <img class="card-img-top" src="/images/f_<%= j++ %>.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title"><%= d.dish_name %></h5>
                  <img class="veg" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/78/Indian-vegetarian-mark.svg/233px-Indian-vegetarian-mark.svg.png" alt="">
                  <p class="card-text price">Rs. <%= d.price %></p>
                  <button class="btn btn-dark btn-block add-cart" type="button" name="button" onClick="addToCart(<%= d.dish_ID %>)">Add to cart</button>
                </div>
              </div>
            <% } %>
          </div>
        </div>
    </div>
<%- include("partials/footer") -%>
